blessed==1.15.0
certifi==2018.11.29
chardet==3.0.4
idna==2.8
keyring==8.7
keyrings.alt==1.3
lxml==4.3.0
measurement==2.0.1
mpmath==1.1.0
myfitnesspal==1.13.3
newrelic==4.12.0.113
python-dateutil==2.7.5
requests==2.21.0
schedule==0.6.0
selenium==3.141.0
six==1.12.0
sympy==1.3
urllib3==1.24.2
wcwidth==0.1.7
